:root {
  --background: #333333;
  --darkPrimary: #232323;
  --darkSecundary: #4d4d4d;
  --textPrimary: #ffffff;
  --textSecondary: #808080;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--textPrimary);
}

body {
  background: var(--background);
}

main {
  background: red;
}

aside {
  background: lime;
}

header {
  background: var(--darkPrimary);
  padding: 0.5em;
  height: 4em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
}

.headerLeft {
  grid-column: span 3 / span 3;
  align-content: center;
  padding-left: 1em;
}

.headerCenter {
  grid-column: span 6 / span 6;
  grid-column-start: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerRight {
  grid-column: span 3 / span 3;
  grid-column-start: 10;
  display: flex;
  justify-content: end;
}

.mainLayout {
  padding: 0 1em;
}

@media (width > 480px) {
  .mainLayout {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  main {
    width: 70%;
    display: flex;
    padding: 10px;
  }

  aside {
    width: 25%;
  }

  .siteLogo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }

  .search {
    height: 35px;
    width: 300px;
    background: var(--darkSecundary);
    border-radius: 5px;
  }

  .userLogo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--textPrimary);
  }
}
